<h2 mat-dialog-title>Detalhes do Aluno</h2>
<mat-dialog-content>
  <div *ngIf="loading" class="loading">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

  <dl *ngIf="!loading && aluno">
    <dt>ID</dt><dd>{{ aluno.id }}</dd>
    <dt>Nome</dt><dd>{{ aluno.nome }}</dd>
    <dt>CPF</dt><dd>{{ aluno.cpf }}</dd>
    <dt>Email</dt><dd>{{ aluno.email }}</dd>
  </dl>

  <p *ngIf="errorMsg" class="error">{{ errorMsg }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="fechar()">Fechar</button>
</mat-dialog-actions>
